* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Comeco do Container */

#px-container {
    width: 60%;
    margin: 40px auto;
}

.cursos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: #0A1234;
    color: #fff;
}

.curso {
    width: 270px;
    height: 400px;
    background-color: teal;
}
