* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Comeco do Container */

#px-container {
    text-align: center;
}

#painel {
    width: 30%;
    max-width: 400px;
    height: 450px;
    margin: 40px auto;
    background-color: #0A1234;
    color: #fff;
}

#painel h3 {
    font-size: 32px;
    padding: 32px;
}

#form-entrar {
    padding: 0px 32px;
}

#form-entrar input[type=email], input[type=password] {
    clear: left;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding-left: 20px;
}

#form-entrar input[type=submit] {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
}

#form-entrar label {
    float: left;
    margin: 5px 0px;
}

#entrar:after {
    margin-top: 60px;
}